.elements {
	display: grid;
	grid-template-columns: repeat(3, minmax(220px, 282px));
	justify-content: center;
	row-gap: 20px;
	column-gap: 17px;
}

@media screen and (max-width: 920px) {
	.elements {
		grid-template-columns: repeat(2, minmax(220px, 282px));
	}
}

@media screen and (max-width: 580px) {
	.elements {
		grid-template-columns: minmax(220px, 282px);
	}
}